#h1 {
    background-color: rgb(79, 79, 207);
    height: 80px;
    width: 100%;
}

.sec {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 156, 187);
}

.gamearea {
    width: 50%;
    height: 400px;
    padding: 20px;
    background-color: rgb(79, 79, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.msg {
    text-align: center;
}

.f1 {
    font-size: 50px;
}

.btn {
    width: 30%;
    border-radius: 20px;
    height: 50px;
    margin-top: 20px;
    color: brown;
    font-size: 15px;
}

.msg {
    font-size: 30px;
}